<template>
    <div>
        <p>This page includes a counter!</p>
        <p>Times you've clicked the button: {{ counter }}</p>
        <button @click="incrementCounter">Click me</button>
    </div>
</template>

<script>
    export default {
        name: "Counter",
        data() {
            return {
                counter: 0
            }
        },
        methods: {
            incrementCounter() {
                this.counter++;
            }
        }
    }
</script>

